html {
  font-size: 10px;
  max-height: 100vh;
  font-family: 'Press Start 2P', cursive;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  height: 100vh;

  background: url(banana.jpg) bottom center;
  background-size: cover;


}

.keys {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid #a0a;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #a0f;
  box-shadow: 0 0 15rem #a0f;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #505;
  font-family: sa;
}
.instrumentSelector {
  padding: 1rem;
  font-size: 4rem;
  border-radius: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.title{
  font-size: 10rem;
  text-align: center;
}
.sub-title{
  font-size: 5rem;
  text-align: center;
}